.section-contact-us {
  .hero-links {
     > li {
       vertical-align: bottom;
     }
    .link-sub-title {
      padding-left: 40px;
      padding-right: 20px;
      @media all and (max-width: 640px) {
        padding-left: 30px;
        padding-right: 0;
      }
      @media all and (max-width: 520px) {
        padding-left: 20px;
      }
    }
  }
  .content-box {
    max-width: 490px;
    margin: 0 auto 80px;
    text-align: center;
  }
  .section-title {
    padding-bottom: 0;
    margin-bottom: 13px;
  }
}
  .link-sub-title {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .03em;
    line-height: $line-height-heading;
    cursor: pointer;
    + .btn {
      padding-left: 40px;
      padding-right: 40px;
      text-align: left;
      cursor: pointer;
      @media all and (max-width: 1160px) {
        padding-left: 30px;
        padding-right: 25px;
      }
      @media all and (max-width: 520px) {
        padding-left: 20px;
        padding-right: 15px;
      }
    }
    .interesting-link-box & {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 14px;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        max-width: 120px;
        width: 100%;
        height: 4px;
        background-color: $white;
      }
    }
    @media all and (max-width: 640px) {
      font-size: 14px;
    }
  }
  .top-link-box {
    margin: 0 -20px 90px;
    @media all and (max-width: 1024px) {
      margin-left: -15px;
      margin-right: -15px;
    }
    .hero-links > li {
      width: 32%;
      margin-left: 0;
      margin-right: 0;
      padding: 0 16px;
      @media all and (max-width: 1024px) {
        padding-left: 11px;
        padding-right: 11px;
      }
      @media all and (max-width: 860px) {
        width: 49%;
      }
      @media all and (max-width: 420px) {
        width: 100%;
      }
      .btn {
        width: 100%;
        @media all and (max-width: 1160px) {
          min-width: auto;
        }
      }
    }
    a.btn, .btn {
      &.transparent {
        padding-top: 15px;
        padding-bottom: 16px;
        font-size: 32px;
        text-transform: initial;
        @media all and (max-width: 768px) {
          padding-bottom: 15px;
          font-size: 22px;
        }
      }
    }
  }

.interesting-link-box {
  margin-bottom: 125px;
}
  .interesting-link-list {
    margin: 0 -40px -40px;
    > li {
      display: inline-block;
      width: 32%;
      width: -webkit-calc(33.333% - 6px);
      width: calc(33.333% - 6px);
      padding: 0 40px;
      margin-bottom: 40px;
      vertical-align: top;
      a {
        display: inline-block;
        font-family: $font-secondary;
        font-size: 32px;
        font-weight: $light;
        color: $white;
        letter-spacing: -.02em;
        line-height: 1.2;
        text-transform: uppercase;
        @media all and (max-width: 1024px) {
          font-size: 26px;
        }
      }
    }
    @media all and (max-width: 768px) {
      margin: 0 -10px -40px;
      > li {
        padding: 0 10px;
      }
    }
    @media all and (max-width: 640px) {
      > li {
        width: 49%;
        width: -webkit-calc(50% - 6px);
        width: calc(50% - 6px);
      }
    }
    @media all and (max-width: 460px) {
      > li {
        width: 100%;
      }
    }
  }


.subscribe-box {}
.subscribe-form-list {
  display: table;
  width: 100%;
  > li {
    display: table-cell;
    vertical-align: top;
    padding: 0 17px;
    &:first-child {
      padding-left: 0;
      width: 170px;
      .subscribe-title {
        display: table-cell;
        height: 57px;
        vertical-align: middle;
      }
    }
    &:last-child {
      padding-right: 0;
      width: 315px;
      @media all and (max-width: 1080px) {
        width: 250px;
      }
      @media all and (max-width: 768px) {
        width: 215px;
      }
    }
    .input-row {
      margin-bottom: 25px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
    }
    label {
      position: absolute;
      top: 20px;
      font: 400 16px "Lato", "Arial", sans-serif;
      text-transform: uppercase;

      &.shift {
        top: 2px;
      }
    }
    a.btn, .btn {
      &.transparent {
        padding-top: 16px;
        padding-bottom: 16px;
        min-width: 100%;
      }
    }
  }
  @media all and (max-width: 768px) {
    display: block;
    height: auto;
    > li {
      display: block;
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
      &:first-child {
        width: 100%;
        text-align: center;
        .subscribe-title {
          display: block;
          height: auto;
          padding-bottom: 15px;
        }        
      }
      &:last-child {
        width: 100%;
        text-align: center;
      }
      .input-row {
        &, &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }
}
.subscribe-title {
  font-size: 16px;
  font-weight: $normal;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: $white;
}

.ui-widget.ui-widget-content {
  font-size: 0.7em;
  z-index: 20 !important;
}