.section-contact-us {
  .hero-links {
     > li {
       vertical-align: bottom;
     }
    .link-sub-title {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .content-box {
    max-width: 490px;
    margin: 0 auto 80px;
    text-align: center;
  }
  .section-title {
    padding-bottom: 0;
    margin-bottom: 13px;
  }
}
  .link-sub-title {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .03em;
    line-height: $line-height-heading;
    + a.btn, .btn {
      padding-left: 40px;
      padding-right: 40px;
      text-align: left;
    }
    .interesting-link-box & {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 14px;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        max-width: 120px;
        width: 100%;
        height: 4px;
        background-color: $white;
      }
    }
  }
  .top-link-box {
    margin-bottom: 90px;
    a.btn, .btn {
      &.transparent {
        padding-top: 15px;
        padding-bottom: 16px;
        font-size: 32px;
        text-transform: initial;
      }
    }
  }

.interesting-link-box {
  margin-bottom: 125px;
}
  .interesting-link-list {
    margin: 0 -40px;
    > li {
      display: inline-block;
      width: 32%;
      width: -webkit-calc(33.333% - 6px);
      width: calc(33.333% - 6px);
      padding: 0 40px;
      vertical-align: top;
      a {
        display: inline-block;
        font-family: $font-secondary;
        font-size: 32px;
        font-weight: $light;
        color: $white;
        letter-spacing: -.02em;
        line-height: 1.2;
        text-transform: uppercase;
      }
    }
  }
.subscribe-box {}
  .subscribe-form-list {
    display: table;
    width: 100%;
    > li {
      display: table-cell;
      vertical-align: middle;
      padding: 0 17px;
      &:first-child {
        padding-left: 0;
        width: 180px;
      }
      &:last-child {
        padding-right: 0;
        width: 315px;
      }
      a.btn, .btn {
        &.transparent {
          padding-top: 16px;
          padding-bottom: 16px;
          min-width: 100%;
        }
      }
    }
  }
  .subscribe-title {
    font-size: 16px;
    font-weight: $normal;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: $white;
  }