.section-contact-us {
  text-align: left;
  background-color: $color-text2;
  .container {
    padding: 0 96px;
    //max-width: 1980px;
    @media all and (max-width: 1024px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media all and (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .top-box {
    margin-bottom: 75px;
    @media all and (max-width: 1024px) {
      margin-bottom: 55px;
    }
  }
  .bottom-box {
    position: relative;
    padding-top: 12px;
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      max-width: 115px;
      height: 4px;
      background-color: $white;
    }
  }
  .hero {
    .bottom-sticky-box {
      position: fixed;
    }
  }
}
  .contact-message-box{
    > :last-child {
      margin-bottom: 0;
    }
  }
    .contact-message {
      margin-bottom: 32px;
      font-size: $size-heading2;
      font-weight: $normal;
      line-height: $line-height-heading;
      letter-spacing: -.04em;
      word-spacing: .01em;
      color: $white;
      text-align: left;
      @media all and (max-width: 1024px) {
        font-size: 60px;
      }
      @media all and (max-width: 1024px) {
        font-size: 42px;
      }
    }

.bottom-sticky-box {
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  padding: 0 20px;
  color: $white;
  font-size: 26px;
  text-align: center;
  @media all and (max-width: 1024px) {
    bottom: 45px;
    font-size: 24px;
  }
  @media all and (max-width: 768px) {
    font-size: 22px;
  }
}

.accordion {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  margin-bottom: 0;
  padding: 10px 45px 10px 0;
  letter-spacing: -.02em;
  text-transform: uppercase;
  cursor: pointer;
  &, & > a {
    @include font($light, $size-main, $font-secondary, $line-height-heading);
    color: $white;
    @include transition($transition-other);
    @media all and (max-width: 1024px) {
      font-size: 26px;
    }
    @media all and (max-width: 1024px) {
      font-size: 24px;
    }
    &:hover,
    &:focus,
    &:hover .fa,
    &:focus .fa {
      color: $color-text4;
    }
    .fa {
      position: absolute;
      right: 12px;
      font-size: 24px;
      top: 50%;
      color: $white;
      @include transition('all '+$transition-other+' ease');
      @include css3-prefix('transform-origin', '50% 50%');
      @include css3-prefix('transform', 'translateY(-50%)');
      opacity: 0;
    }
  }
  &.active {
    &, & > a {
      color: $color-text4;
      .fa {
        opacity: 1;
        color: $color-text4;
        @include css3-prefix('transform', 'translateY(-50%) rotate(180deg)');
      }
    }
  }
}

.panel {
  display: none;
  overflow: hidden;
  margin: 47px 0 55px;
  a {
    color: #00a3e0;
  }
  .no-js & {
    display: block;
    overflow: visible;
  }
  .content {
    font-size: 26px;
    @media all and (max-width: 1024px) {
      font-size: 22px;
    }
    * {
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.modal-form-list {
  > li {
    &:not(:last-child) {
      margin-bottom: 53px;
    }
  }
}

.modal-inner-form-box {
  margin: 0 -48px;
  @media all and (max-width: 1024px) {
    margin: 0 -15px;
  }
  @media all and (max-width: 768px) {
    text-align: center;
  }
  .left-box,
  .right-box {
    float: left;
    width: 50%;
    padding: 0 48px;
    @media all and (max-width: 1024px) {
      padding: 0 15px;
    }
    @media all and (max-width: 768px) {
      float: none;
      width: 100%;
    }
  }
  .left-box {
    width: 57%;
    @media all and (max-width: 768px) {
      width: 100%;
      margin-bottom: 52px;
    }
  }
  .right-box {
    width: 43%;
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
  a.btn,
  .btn {
    max-width: 100%;
    width: 100%;
    min-width: 230px;
    &.transparent {
      padding: 16px 20px;
    }
    @media all and (max-width: 768px) {
      max-width: 25px;
      margin: 0 auto;
    }
  }
}
.panel .wpcf7 {
  margin-top: 40px;

  
}
.modal-form-btn-box {
  margin-top: 22px;
}

#thank-box {
  display: none;

}

.show-thank {
  #form-box {
    display: none;
  }
  #thank-box {
    display: block;
  }
}
