.header {
  display: block;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  opacity: 1;
  @include transition(.6s);
  .direction-down &,
  .direction-up & {
    opacity: 0;
    @include transition($transition-other);
  }
  &.show-burger {
    position: fixed;
    opacity: 1;
    z-index: 99999;
    .container {
      position: relative;
      z-index: 99999;
      .header .container {
        //padding-left: 60px;
        //padding-right: 60px;

      }
    }
    .btn, a.btn {
      background-color: transparent;
      &:hover,
      &:focus {
        background-color: $color-bg2;
      }
    }
    & + #header-scrolling {
      z-index: -1;
    }
  }
  .container {
    max-width: 2560px;
    padding: 60px 72px 50px;
    @media all and (max-width: 1024px) {
      padding: 60px 60px 50px;
    }
    @media all and (max-width: 768px) {
      padding: 30px 35px 50px 45px;
    }
    @media all and (max-width: 360px) {
      padding-right: 30px;
      padding-left: 40px;
    }
  }
  .logo {
    float: left;
    width: 312px;
    text-align: left;
    img {
      display: block;
      max-width: 100%;
      min-width: 100%;
      max-height: 100px;
      width: auto;
      height: auto;
    }
    @media all and (max-width: 768px) {
      margin-top: 14px;
      max-width: 176px;
    }
  }
  .weather-box {
    float: right;
    margin-top: 10px;
    color: $white;
    font-family: 'Georgia', 'Bentham', serif;
    font-size: 24px;
    letter-spacing: 0;
    &:not(:last-child) {
      margin-left: 32px;
      @media all and (max-width: 1024px) {
        margin-left: 26px;
      }
    }
    .icon {
      font-size: 0.9em;
      margin-left: 2px;
    }
    @media all and (max-width: 640px) {
      //position: absolute;
      //right: 90px;
      //top: 20px;
      display: none;
    }
    @media all and (max-width: 400px) {
      //top: 60px;
      //right: 30px;
    }
  }

  .btn-find-rooms {
    float: right;
    margin-top: 12px;
    &:not(:last-child) {
      margin-left: 32px;
    }
    @media all and (max-width: 640px) {
      display: none;
    }
  }
  @media all and (max-width: 640px) {
    &.show-burger {
      .btn-find-rooms {
        display: block;
        position: absolute;
        left: 42px;
        right: auto;
        top: 72px;
        .admin-bar & {
          top: 122px;
        }
      }
      .weather-box {
        display: block;
        position: absolute;
        top: 72px;
        right: 45px;
        .admin-bar & {
          top: 122px;
        }
      }
    }
  }
}

.admin-bar {
  .header.show-burger {
    > .container {
      padding-top: 92px;
      @media all and (max-width: 782px) {
        padding-top: 106px;
      }
      @media all and (max-width: 768px) {
        padding-top: 76px;
      }
    }
    .burger-inner-box .container {
      @media all and (max-width: 1024px) {
        padding-top: 10px;
      }
      @media all and (max-width: 640px) {
        padding-top: 0;
      }
    }
  }
  @media all and (max-width: 600px) {
    &.direction-down,
    &.direction-up {
      .header.show-burger {
        .container {
          padding-top: 30px;
        }
        .burger-inner-box .container {
          padding-top: 0;
        }
        .btn-find-rooms,
        .weather-box {
          top: 72px;
        }
      }
    }
  }

}

#header-scrolling {
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  z-index: 30;
  background-color: #F1F2F2;
  opacity: 1;
  @include transition($transition-other);
  @include css3-prefix('transform', 'translateY(-100%)');
  .container {
    overflow: hidden;
    padding-top: 49px;
    padding-bottom: 46px;
    @media all and (max-width: 1024px) {
      padding-top: 15px;
      padding-bottom: 10px;
    }
    @media all and (max-width: 480px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .direction-up & {
    visibility: visible;
    @include css3-prefix('transform', 'translateY(0)');
    @include css3-prefix('box-shadow','0 2px 8px 0 rgba(0, 0, 0, 0.75)');

  }
  .direction-down & {
    box-shadow: none;
  }
  .weather-box {
    color: $color-text5;
  }
  .menu-toggle {
    span {
      &, &:before, &:after {
        background-color: $color-text5;
      }
    }
  }
  @media all and (max-width: 640px) {
    .weather-box {
      display: none;
    }
    .btn-find-rooms {
      display: none;
    }
  }
  .btn, a.btn {
    color: $color-text5;
    border-color: $color-text5;
    background-color: transparent;
    &:hover, &:focus {
      color: $white;
      background-color: $color-text5;
    }
  }

  .admin-bar.direction-up & {
    @include css3-prefix('transform', 'translateY(32px)');
    @media all and (max-width: 782px) {
      @include css3-prefix('transform', 'translateY(46px)');
    }
    @media all and (max-width: 600px) {
      @include css3-prefix('transform', 'translateY(0)');
    }
  }
}

.hero {
  position: relative;
  z-index: 10;
  min-height: 570px;
  padding: 30px;
  background-color: #737373;
  color: $white;
  text-align: center;
  word-break: break-word;
  @media all and (max-width: 768px) {
    padding: 20px;
  }
  > :not(.hero-img) {
    position: relative;
    z-index: 3;
  }
  .hero-img {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include bg();
    img {
      position: absolute;
      top: -9999px;
      left: -9999px;
      right: -9999px;
      bottom: -9999px;
      margin: auto;
      height: auto;
      width: auto;
      min-height: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 28px;
    right: 28px;
    bottom: 28px;
    left: 28px;
    background: transparent;
    border: 2px solid #ffffff;
    pointer-events: none;
    @media all and (max-width: 768px) {
      top: 18px;
      right: 18px;
      bottom: 18px;
      left: 18px;
    }
  }
  header {
    position: relative;
    padding-bottom: 20px;
    &:not(:last-child) {
      margin-bottom: 26px;
    }
    h1, h2, h3 {
      font-size: 64px;
      font-weight: $normal;
      line-height: 1;
      letter-spacing: -1.28px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 116px;
      margin-left: -58px;
      height: 3px;
      background: $white;
    }
  }
  .hero-content {
    max-width: 480px;
    margin: 0 auto;
    line-height: 1.2;
    &.wide {
      max-width: 980px;
    }
    p {
      letter-spacing: -0.3px;
    }
    p:not(:last-child) {
      margin-bottom: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 26px;
    }
    img.aligncenter {
      margin-bottom: -10px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .hero-links {
    text-align: center;
    &:last-child {
      margin-bottom: -26px;
    }
    li {
      display: inline-block;
      margin: 0 20px 26px;
      a {
      }
    }
  }
  .scroll-box {
    position: absolute;
    display: block;
    bottom: 55px;
    left: 50%;
    @include css3-prefix('transform', 'translateX(-50%)');
    color: $white;
    text-align: center;
    > * {
      display: block;
      margin: 0 auto;
    }
    span {
      text-transform: uppercase;
      font-size: 26px;
      line-height: 1.25;
      letter-spacing: 4px;
      &:not(:last-child) {
        margin-bottom: 18px;
        @media all and (max-width: 768px) {
          margin-bottom: 10px;
        }
      }
      @media all and (max-width: 768px) {
        font-size: 20px;
      }
    }
    .scroll-link {
      position: relative;
      top: 0;
      width: 40px;
      height: 24px;
      text-align: center;
      cursor: pointer;
      @include transition($transition-other);
      &:hover, &:focus {
        top: 5px;
      }
      img {
        display: block;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  &.full {
    header {
      padding-bottom: 15px;
      h1, h2, h3 {
        font-size: $size-heading1;
        line-height: 1;
        letter-spacing: -2.88px;
        @include spacing-break();
        @media all and (max-width: 1024px) {
          font-size: 120px;
        }
        @media all and (max-width: 768px) {
          font-size: 80px;
        }
      }
    }
  }
}
.hero-vertical-align {
  display: table;
  width: 100%;
  height: 510px;
  padding-top: 90px;
  padding-bottom: 90px;
  @media all and (max-width: 768px) {
    height: 530px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .full & {
    @include calc('height', '100vh - 60px');
    padding-top: 140px;
    padding-bottom: 140px;
    @media all and (max-width: 768px) {
      @include calc('height', '100vh - 40px');
      padding-top: 100px;
      padding-bottom: 120px;
    }
    .admin-bar & {
      @include calc('height', '100vh - 60px - 32px');
      @media all and (min-width: 769px) and (max-width: 782px) {
        @include calc('height', '100vh - 60px - 46px');
      }
      @media all and (max-width: 768px) {
        @include calc('height', '100vh - 40px - 46px');
      }
    }
  }
  .hero-box {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
}

.burger-box {
  position: fixed;
  z-index: -1;
  top: 0;
  //left: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  @include css3-prefix('transform-origin','50% 50%');
  //@include css3-prefix('transform', 'scale(0)');
  @include transition('opacity 0.4s ease 0s, right 0s');
  &.show-tsh-popup {
    z-index: 9999;
    opacity: 1;
    right: 0;
    visibility: visible;
    //@include css3-prefix('transform', 'scale(1)');

  }
  .hero {
    min-height: auto;
    height: 100%;
    max-height: 100%;
    .hero-img {
      background-color: $color-text2;
    }
  }
  .container {
    display: table;
    width: 100%;
    padding-top: 20px;
  //  overflow: hidden;
  //  padding-top: 166px;
    padding-left: 106px;
    padding-right: 106px;
    @media all and (max-width: 1024px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media all and (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .admin-bar & {
    top: 32px;
    @media all and (max-width: 782px) {
      top: 46px;
    }
  }
  .admin-bar.direction-up &,
  .admin-bar.direction-down & {
    @media all and (max-width: 600px) {
      top: 0;
    }
  }
}

.burger-box {
  .burger-inner-wrap {
    margin-top: 90px;
    margin-bottom: 30px;
    padding-top: 10px;
    max-height: 85%;
    max-height: -webkit-calc(100% - 120px);
    max-height: calc(100% - 120px);
    overflow-x: auto;
    @media all and (max-width: 1024px) {
      padding-top: 30px;
    }
    @media all and (max-width: 640px) {
      margin-top: 110px;
    }
  }
  .burger-inner-box {
    display: block;
    width: 100%;
  }
  .left-box,
  .right-box {
    display: block;
    vertical-align: top;
  }
  .right-box {
    float: right;
    width: 55%;
    position: relative;
    padding-bottom: 21px;
    margin-bottom: 26px;
    @media all and (max-width: 640px) {
      float: none;
      width: 100%;
    }
    @media all and (max-width: 640px) {
      margin-bottom: 16px;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 120px;
        height: 4px;
        background-color: $white;
      }
    }
  }
  .left-box {
    float: left;
    width: 45%;
    padding-right: 20px;
    padding-top: 5px;
    text-align: left;
    @media all and (max-width: 640px) {
      float: none;
      width: 100%;
    }
     > * {
       position: relative;
       padding-bottom: 21px;
       margin-bottom: 26px;
       &:after {
         position: absolute;
         content: '';
         left: 0;
         bottom: 0;
         width: 100%;
         max-width: 120px;
         height: 4px;
         background-color: $white;
       }
       &:last-child {
         padding-bottom: 0;
         margin-bottom: 0;
         &:after {
           content: none;
         }
       }
     }
  }

  .right-box {
    padding-left: 20px;
    @media all and (max-width: 640px) {
      padding-left: 0;
    }
    .burger-menu {
      text-align: right;
      @media all and (max-width: 640px) {
        text-align: left;
      }
    }
  }
  .contact-list {
    margin-bottom: 11px;
    font-family: $font-secondary;
    font-size: 16px;
    letter-spacing: .055em;
    text-transform: uppercase;
    > li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      a {
        font-family: $font-secondary;
        color: $white;
        &:hover, &:focus {
          color: $color-text4;
        }
      }
    }
  }
  .social-box {
    padding-top: 8px;
  }
}

.burger-menu {
  > li {
    &:not(:last-child) {
      margin-bottom: 18px;
      @media all and (max-width: 640px) {
        margin-bottom: 8px;
      }
    }
    a {
      font-size: 64px;
      font-weight: $normal;
      color: $white;
      letter-spacing: -.015em;
      line-height: $line-height-heading;
      @media all and (max-width: 1024px) {
        font-size: 40px;
      }
      @media all and (max-width: 640px) {
        font-size: 32px;
      }
    }
    &.active {
      color: $color-text4;
    }
  }
  li {
    &.current-menu-item > a,
    a:hover, a:focus,
    .single-post &.menu-item-126 > a {
      color: $color-text4;
    }
  }
  .small & {
    > li {
      //margin-bottom: 0;
      margin-bottom: 10px;
      a {
        display: block;
        font-family: $font-secondary;
        font-size: 32px;
        font-weight: $light;
        text-transform: uppercase;
        @media all and (max-width: 1024px) {
          font-size: 26px;
        }
        @media all and (max-width: 640px) {
          font-size: 22px;
        }
      }
    }
  }
}

.social-list {
  overflow: hidden;
  padding: 4px 0 0;
  li {
    float: left;
    padding: 0 10px 10px;
    @media all and (max-width: 640px) {
      padding: 0 8px 8px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    a {
      font-size: 30px;
      line-height: 1;
      color: $white;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: none;
        color: $color-text4;
      }
    }
  }
}
