// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// TRANSITION
@mixin transition($properties) {
  @include css3-prefix('transition', $properties);
}

// BORDER RADIUS
@mixin border-radius($radius: 4px) {
  @include css3-prefix('border-radius', $radius);
}

// FONT
@mixin font($weight: $normal, $size: $size-main, $family: $font-main, $line-height: $line-height) {
  font: $weight $size $family;
  line-height: $line-height;
}

// BACKGROUND IMAGE
@mixin bg($bg_position: center, $bg_size: cover, $bg_repeat: no-repeat) {
  background: {
    position: $bg_position;
    size: $bg_size;
    repeat: $bg_repeat;
  }
}

// LETTER-SPACING & WORD-SPACING
@mixin spacing-break($letter: 0, $word: 0) {
  letter-spacing: $letter;
  word-spacing: $word;
}

// CALC
@mixin calc($property, $value) {
  #{$property}: -webkit-calc(#{$value});
  #{$property}: calc(#{$value});
}

@mixin centered() {
  position: absolute;
  z-index: 3;
  //max-height: 100%;
  //max-width: initial;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}