.single-slider,
.inner-slider {
  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    overflow: hidden;
    position: relative;
    img {
      @include centered();
      max-height: 100%;
      &.higher {
        max-height: initial;
        max-width: 100%;
      }
    }
  }
  .tsh-icon-arrow {
    position: absolute;
    top: 50%;
    left: 35%;
    @include css3-prefix('transform','translate(-50%, -50%)');
    &:before {
      @include css3-prefix('transform','rotate(90deg)');
    }
  }
}

.inner-slider {
  height: 100%;
}

.single-slider {
  .swiper-slide {
    padding-bottom: 39%;
    @media all and (max-width: 1024px) {
      padding-bottom: 50%;
    }
    @media all and (max-width: 768px) {
      padding-bottom: 70%;
    }
    @media all and (max-width: 480px) {
      padding-bottom: 120%;
    }
  }
  &.small {
    .swiper-slide {
      padding-bottom: 25%;
      @media all and (max-width: 1024px) {
        //padding-bottom: 50%;
      }
      @media all and (max-width: 768px) {
        padding-bottom: 30%;
      }
      @media all and (max-width: 480px) {
        padding-bottom: 60%;
      }
    }
  }
}

.slide-title {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: $bold;
  letter-spacing: .1em;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  @include css3-prefix('text-shadow','1px 1px rgba(0, 0, 0, .5)');
}

.slide-name-box {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  .slide-title {}
}

.banner-slider-box {
  overflow: hidden;
  position: relative;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
  .vertical-align-box {
    padding: 60px 0 80px;
    .inner-box {
      padding: 0 20px;
    }
  }
  .swiper-slide {
    img {
      @include centered();
    }
  }
  .banner-title,
  .content {
    @include css3-prefix('text-shadow','1px 1px rgba(0, 0, 0, .5)');
  }
}
  .banner-slider-content-box {
    position: relative;
    z-index: 5;
  }

.swiper-button-prev,
.swiper-button-next,
.swiper-container-rtl .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  display: block;
  width: 55px;
  height: 64px;
  margin-top: -32px;
  background-color: rgba(0, 0, 0, .7);
  background-image: none;
  &:after {
    position: absolute;
    content: '';
    top: 6px;
    bottom: 6px;
    left: 0;
    border: 2px solid $white;
  }
}
.tsh-icon-arrow {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  top: 0;
  @include css3-prefix('transition', '.25s');
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.22 11.73'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EРесурс 2%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Artwork'%3E%3Cpath class='cls-1' d='M9.61,3.35C7.4,1.14,3,.09,0,0A28.82,28.82,0,0,1,9.61,11.73C11.52,7,15.28,3.2,19.22,0,16,.26,12,1.05,9.61,3.35Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0;
  left: auto;
  &:after {
    right: 0;
    left: 8px;
    border-right: none;
  }
  .tsh-icon-arrow {
    left: 65%;
    &:before {
      @include css3-prefix('transform','rotate(-90deg)');
    }
  }
  &:hover,
  &:focus {
    .tsh-icon-arrow {
      left: 67%;
      left: -webkit-calc(65% + 5px);
      left: calc(65% + 5px);
    }
  }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 0;
  &:after {
    right: 8px;
    left: 0;
    border-left: none;
  }
  &:hover,
  &:focus {
    .tsh-icon-arrow {
      left: 33%;
      left: -webkit-calc(35% - 5px);
      left: calc(35% - 5px);
    }
  }
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 28px;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 2px solid $white;
  opacity: 1;
  background-color: transparent;
  cursor: pointer;
  &:hover, &:focus {
    background-color: rgba(255, 255, 255, .75);
  }
}

.swiper-pagination-bullet-active {
  background-color: $white;
}
